


/* max-width: 1199px; */

@media (max-width: 1199px) {
    /* aside */
    /* .aside {
        left: -270px;
    } */
    /* main content */
    /* .main-content {
        padding-left: 0;
    } */

    .section .container {
        padding-top: 70px;
    }

    .aside .nav-toggler {
        display: flex;
        left: 30px;
    }

    .aside .nav-toggler.open {
        left: 300px;
    }

    .aside {
        left: -270px;
    }

    .aside.open {
        left: 0px;
    }

    .section {
        left: 0;
    }

    .section.open {
        left: 270px;
    }


    /* about */
    .about .about-content .personal-info .info-item p span {
        display: block;
        margin-left: 0;
    }














}




